---
import TagList from "./TagList.jsx";
import formatDate from "../utils/formatDate";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const { project } = Astro.props;
---

<a href={`/projects/${project.slug}`} class="">
  <Card className="inline-block mb-4">
    <CardHeader>
      <CardTitle className="flex justify-between">
        <span>{project.data.title}</span>
        <span class="opacity-70 font-light">
          {formatDate(project.data.date)}
        </span>
      </CardTitle>
      <CardDescription>{project.data.description}</CardDescription>
    </CardHeader>
    <CardContent>
      <TagList tags={project.data.tags} />
    </CardContent>
  </Card>
</a>
