---
import TagList from "./TagList.astro";
import formatDate from "../utils/formatDate";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

const { project } = Astro.props;
---

<a href={`/projects/${project.slug}`} class="w-full">
  <Card className="inline-block mb-4 w-full">
    <CardHeader>
      <CardTitle>
        {project.data.title}
      </CardTitle>
      <CardDescription>
        {formatDate(project.data.date)}
      </CardDescription>
    </CardHeader>
    <CardContent className="text-muted-foreground">
      {project.data.description}
    </CardContent>
    <CardFooter>
      <TagList tags={project.data.tags} />
    </CardFooter>
  </Card>
</a>
