---
import TagList from "./tag-list.astro";
import formatDate from "../lib/format-date";

import type { CollectionEntry } from "astro:content";
import { StarIcon } from "lucide-react";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<a
  href={`/projects/${project.slug}`}
  class="card bg-base-200 inline-block w-full border border-base-300 mb-4"
>
  <article class="card-body grid gap-6">
    <section class="grid gap-1">
      <header class="flex items-start justify-between gap-2">
        <h2 class="leading-tight text-xl font-medium">
          {project.data.title}
        </h2>
        {project.data.top3 && <StarIcon className="size-4 text-yellow-500" />}
      </header>
      <span class="text-sm opacity-70">
        {formatDate(project.data.date)}
      </span>
    </section>
    <span>{project.data.description}</span>
    <footer>
      <TagList tags={project.data.tags} />
    </footer>
  </article>
</a>
