---
import TagList from "./TagList.astro";
import formatDate from "../utils/formatDate";

const { project } = Astro.props;

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";
---

<a href={`/projects/${project.slug}`}>
  <Card>
    <CardHeader>
      <CardTitle className="flex justify-between">
        <span>{project.data.title}</span>
        <small class="text-muted-foreground">
          {formatDate(project.data.date)}
        </small>
      </CardTitle>
      <CardDescription>{project.data.description}</CardDescription>
    </CardHeader>
    <CardContent>
      <TagList tags={project.data.tags} />
    </CardContent>
  </Card>
</a>
