---
import TagList from "./tag-list.astro";
import formatDate from "../lib/format-date";

import WipBadge from "./badges/wip-badge";

import type { CollectionEntry } from "astro:content";
import Top3Badge from "./badges/top-3-badge";
import { Card, Heading, Text } from "@radix-ui/themes";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<a href={`/projects/${project.slug}`} class="w-full">
  <Card size="3" className="mb-4 w-full grid gap-5">
    <header>
      <Heading as="h2" className="justify-between flex gap-2">
        {project.data.title}
        {project.data.wip && <WipBadge />}
        {project.data.top3 && <Top3Badge />}
      </Heading>
      <Text color="gray">{formatDate(project.data.date)}</Text>
    </header>
    <section>{project.data.description}</section>
    <footer>
      <TagList tags={project.data.tags} />
    </footer>
  </Card>
</a>
