---
import TagList from "./TagList.astro";
import formatDate from "../lib/formatDate";

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import WipBadge from "./WipBadge";

const { project } = Astro.props;
---

<a href={`/projects/${project.slug}`} class="w-full">
  <Card className="inline-block mb-4 w-full">
    <CardHeader>
      <CardTitle className="text-base font-bold justify-between flex gap-2">
        {project.data.title}
        {project.data.wip && <WipBadge />}
      </CardTitle>
      <CardDescription>
        {formatDate(project.data.date)}
      </CardDescription>
    </CardHeader>
    <CardContent>
      {project.data.description}
    </CardContent>
    <CardFooter>
      <TagList tags={project.data.tags} />
    </CardFooter>
  </Card>
</a>
