---
import TagList from "../components/TagList.astro";
import Layout from "../layouts/Layout.astro";
import Markdown from "../layouts/Markdown.astro";

async function getSkills() {
  const data = await Astro.glob("../data/skills.md");
  const frontmatter = data[0].frontmatter;
  const transformed = Object.keys(frontmatter).map((key) => ({
    name: key,
    tags: frontmatter[key],
  }));
  return transformed;
}

const skills = await getSkills();
const experiences = await Astro.glob("../data/experience/*.md");
---

<Markdown>
  <h2>Skills</h2>
  {
    skills.map((skill) => (
      <>
        <strong class="font-bold py-1">{skill.name}</strong>
        <TagList tags={skill.tags} />
      </>
    ))
  }

  <h2>Experience</h2>
  <div id="tab-wrapper" x-data="{tab:0}" class="border-2 rounded">
    <!-- tabs navigation -->
    <div class="flex m-0 cursor-pointer md:overflow-hidden">
      {
        experiences.map((experience, index) => (
          <div
            x-bind:class={`{'font-bold': tab === ${index}}`}
            x-on:click={`tab = ${index}`}
            class="py-2 px-5 mt-0 border-b-2 flex-grow text-lg text-center"
          >
            {experience.frontmatter.title}
          </div>
        ))
      }
    </div>

    <!-- tabs content -->
    {
      experiences.map((experience, index) => (
        <div
          x-show={`tab === ${index}`}
          class="p-5 prose prose-invert prose-sm max-w-none prose-headings:my-0 prose-li:my-0 prose-p:my-0 prose-ul:my-0 prose-h2:mt-4 prose-em:font-normal"
        >
          <experience.Content />
        </div>
      ))
    }
  </div>
</Markdown>
