---
import { CollectionEntry, getCollection } from "astro:content";
import formatDate from "@/utils/formatDate";

import { Button } from "@/components/ui/button";
import LinkList from "@/components/LinkList.astro";
import TagList from "@/components/TagList.astro";
import Layout from "@/layouts/Layout.astro";
import Markdown from "@/layouts/Markdown.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"projects">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <h1 class="text-4xl font-bold">{entry.data.title}</h1>
  <div class="opacity-70">{formatDate(entry.data.date)}</div>
  <br />
  <TagList tags={entry.data.tags} />
  <LinkList links={entry.data.links} />
  <Markdown>
    <br />
    <Content />
  </Markdown>
  <div class="flex justify-center pt-20 pb-10">
    <a href="/">
      <Button variant="invert" size="lg">More Projects</Button>
    </a>
  </div>
</Layout>

