---
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  tags: Array<{ string }>;
  links: Array<{ url: string; name: string; icon: string }>;
  description: string;
  date: string;
}>;

import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";
import Markdown from "./Markdown.astro";
const { title, tags, links } = Astro.props.frontmatter;
---

<Layout title={title}>
  <div class="pb-8 pt-2">
    <TagList tags={tags} classes="bg-none border-2" />
    <div class="flex gap-4 pt-2 underline">
      {
        links.map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class=" text-sky-400 hover:text-sky-500"
          >
            <span>{link.name}</span>
          </a>
        ))
      }
    </div>
  </div>
  <Markdown>
    <h1 class="">{title}</h1>
    <slot />
  </Markdown>
</Layout>
