---
import LinkList from "../components/LinkList.astro";
import formatDate from "../utils/formatDate";

import TagList from "../components/TagList.astro";
import Layout from "./Layout.astro";
import Markdown from "./Markdown.astro";
import { Button } from "@/components/ui/button";
const { title, tags, links, date } = Astro.props.frontmatter;
---

<Layout title={title}>
  <h1 class="text-4xl font-bold">{title}</h1>
  <div class="opacity-70">{formatDate(date)}</div>
  <br />
  <TagList tags={tags} />
  {links && <LinkList links={links} />}
  <Markdown>
    <br />
    <slot />
  </Markdown>
  <div class="flex justify-center pt-20 pb-10">
    <a href="/">
      <Button variant="invert" size="lg">More Projects</Button>
    </a>
  </div>
</Layout>
